.hero {
    background-image: url('images/data-hero.jpg');
    background-size: cover;
    background-position: center;
    height: 600px; /* Stretch image height */
    text-align: center;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50%; /* Vertically center content */
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
}

.hero-content h1 {
    font-size: 2.5rem; /* Adjust font size */
    margin: 0;
    color: black;
}

.hero-content p {
    margin: 10px 0;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons img {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.social-icons img:hover {
    transform: scale(1.1);
}



.project-grid {
    display: flex;
    gap: 20px;
}
.project-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
